<!DOCTYPE html>
<html>
<head>
<style>
<style>
body{
}
td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Procedure for Home Remedy</h2>

<table>
<tr>
<th>Home Remedy For</th>
<th>Ingredients</th>
<th>procedure</th>
</tr>
<tr>
<td>Influenza(flu)adults</td>
<td>Tea,Lemon,Honey</td>
<td>Prepare a tea and add lemon to it and few drops of honey to it.</td>
</tr>
<tr>
<td>Appendicities</td>
<td>Fenugreek seeds,Cucumber,Beet root</td>
<td>A mixture of cucumber and beet root juice works wonder in treating the problem of appendix pain.</td>
</tr>
<tr>
<td>Diverticulitis</td>
<td>Papaya,Bran,milk</td>
<td>Soup of bran and mix a few teaspoons of bran with milk and drink.</td>
</tr>
<tr>
<td>Common cold</td>
<td>Ginger,Honey</td>
<td>1:Brew up a soothing ginger tea by adding 20-40 grams of fresh ginger slices to a cup of hot water.
2:Mix 2 teaspoons of honey with warm water or an herbal tea.</td>
</tr>
<tr>
<td>Cough</td>
<td>Milk,Turmeric</td>
<td>A glass of milk and add 1 table spoon of turmeric in it and drink.</td>
</tr>
<tr>
<td>Irritable bowel</td>
<td>Yogurt,Psyllium husks,Isabgol</td>
<td>Mix a half teaspoon of psyllium husks or isabgol which can be found in drug stores,with one cup of yogurt.</td>
</tr>
<tr>
<td>Migrane Headache</td>
<td>Amaranthus polygonoids,pepper and gingully oil</td>
<td>Boil Amaranthus polygonoids with pepper and gingully oil and apply on head.</td>
</tr>
<tr>
<td>Drug Allergy</td>
<td>Turmeric,Dry gourd,pepper and methi dana</td>
<td>Boil Amaranthus polygonoids with pepper and gingully oil and apply on head.</td>
</tr>


</table>
</body>
</html>
